tr {
	&[data-variant='strikeout'] td {
		position: relative;
		&::before {
			content: ' ';
			position: absolute;
			top: 50%;
			left: 0;
			border-bottom: 1px solid currentColor;
			width: 100%;
		}
	}
}
